body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    line-height: 2;
  }
  img {
    max-width: 100%;
  }
  h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
  }
  h1 {
    font-size: 1.8rem;
    margin-bottom: 0;
  }
  p{
    line-height:2rem;
     font-size: 1.3rem;
  
  }
  header {
    background-color: #082B59;
   border-bottom: 10px solid #d98555;
  }
  
  nav {
    margin: 0 1rem;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
   
  }
  nav a {
    font-weight: bold;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
    color: #ffffff;
    font-size: 1.3rem;
    margin: 0 0 2rem 0;
    text-align: center;
  }
  
  nav a:hover {
    color: #d98555;
  }
  
  nav .logo a {
  margin: 0;
  }
  nav .logo img {
    max-width: 150px;
  }
  .main-bkgd {
    background: #ffffff url(./images/gulp-bottom-beans.jpg) repeat-x bottom;
    padding-bottom: 250px;
  }
  
  .main {
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  
  }
  article {
    flex-basis: 100%;
      margin: 0 ;
  }
  .shop img {
    max-width:100%;
   margin: 2rem 0 0 0rem;
  border-radius: 10px;
  }
  
  footer {
   background-color: #082B59;
    text-align: center;
    border-top: 10px solid #d98555;
  }
  footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  footer a {
    color: #f2f2f2;
    font-size: 2rem;
    display: block;
    margin: 0 1rem 3rem 1rem;
  }
  .tm{
    color: #f2f2f2;
  font-size:1.2rem;
}
.disclaimer{
    font-size:1rem;
    color:#f2f2f2;
}
  
  @media (min-width: 620px) {
   
    
    p{
    line-height:2rem;
     font-size: 1.2rem;
  
  }
    nav {
      margin-left: 0;
    }
    
    nav ul {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    }
   
    nav a {
      margin: 0 0 0 0;
    }
   
    .logo {
      flex-basis: 100%;
      text-align: center;
    }
    article {
    flex-basis: 30%;
  }
  .shop img {
    max-width:350px;
   margin: 2rem 1rem 0 0rem;
  border-radius: 10px;
    
   }
  }
  
  
  @media (min-width: 900px) {
   
    nav ul {
      justify-content: flex-start;
    }
   
    nav a {
      margin-top: 4.5rem;
    }
   
    .logo {
      flex-basis: auto;
      margin-right: auto;
    }
    article {
    flex-basis: 30%;
      margin: 0 auto;
      padding-left:2rem;
      padding-top:6rem;
  }
    .shop img{
      margin:auto;
      max-width:100%;
       margin: 2.5rem 0rem 0 0rem;
    }
      }