body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    line-height: 2;
  }
  img {
    max-width: 100%;
  }
  h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    color: black;
  }
  h1 {
    font-size: 2rem;
    margin-bottom: 0;
    margin-left:3rem;
  }
  
  h2 {
    font-size: 1.2rem;
    margin-bottom: 0;
  }
  p{
     color: black;
  }
  header {
    background-color: #082B59;
   border-bottom: 10px solid #d98555;
  }
  
  nav {
    margin: 0 1rem;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
   
  }
  nav a {
    
    font-weight: bold;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
    color: #ffffff;
    font-size: 1.3rem;
    margin: 0 0 2rem 0;
    text-align: center;
  }
  
  nav a:hover {
    color: #d98555;
  }
  
  nav .logo a {
  margin: 0;
  }
  nav .logo img {
    max-width: 150px;
  }
  
  .container {
  justify-content: space-between;
    padding: 1.3rem;
  }
  .card {
    overflow: hidden;
    margin-bottom:2rem;
    margin-left:2rem;
    margin-right:2rem;
  }
  
  .card img {
    float: left;
    margin-right: 10px; 
    border-radius:20px;
  }
  
  footer {
   background-color: #082B59;
    text-align: center;
    border-top: 10px solid #d98555;
  }
  footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  footer a {
    color: #f2f2f2;
    font-size: 2rem;
    display: block;
    margin: 0 1rem 3rem 1rem;
  }
  .tm{
    color: #f2f2f2;
  font-size:1.2rem;
}
.disclaimer{
    font-size:1rem;
    color:#f2f2f2;
}
  
  @media (min-width: 635px) {
    
    nav {
      margin-left: 0;
    }
    
    nav ul {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    }
    
    nav a {
      margin: 0 0 0 0;
    }
    
    .logo {
      flex-basis: 100%;
      text-align: center;
    }
    .container {
   justify-content: space-between;
    gap: 2rem;
      padding:1rem;
  }
  .card {
    overflow: hidden;
    margin-bottom:2rem;
    margin-left:2rem;
    margin-right:2rem;
  }
  
  .card img {
    float: left;
    margin-right: 10px; 
    border-radius:20px;
  }
  }
  
  
  @media (min-width: 900px) {
   
    nav ul {
      justify-content: flex-start;
    }
   
    nav a {
      margin-top: 4.5rem;
    }
   
    .logo {
      flex-basis: auto;
      margin-right: auto;
    }
    .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 1rem;
  }
  .card {
    flex-basis: 30%;
    color: #ffffff;
    margin-bottom:1rem;
    margin-left:1rem;
    margin-right:1rem;
  
  }
  .card h2,
  .card p {
    padding: 0 1rem;
  }
  }
  