body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    line-height: 2;
  }
  img {
    max-width: 100%;
  }
  h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
  }
  h1 {
    font-size: 2rem;
    margin-bottom: 0;
  }
  header {
    background-color: #082B59;
   border-bottom: 10px solid #d98555;
  }
  
  
  nav {
    margin: 0 1rem;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  
  }
  nav a {
   
    font-weight: bold;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
    color: #ffffff;
    font-size: 1.3rem;
    margin: 0 0 2rem 0;
    text-align: center;
  }
  
  nav a:hover {
    color: #d98555;
  }
  
  nav .logo a {
  margin: 0;
  }
  nav .logo img {
    max-width: 150px;
  }
  .main-bkgd {
    background: #ffffff url(./images/gulp-bottom-beans.jpg) repeat-x bottom;
    padding-bottom: 300px;
  }
  
  .main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  article {
    flex-basis: 100%;
      margin: 0 auto;
  }
  .coffee img {
    max-width:100%;
   margin: 2rem 0 0 0rem;
  border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
   }
  
  .button {
    display: inline-block;
    background-color: #59331D;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin: 0;
    color: #f2f2f2;
    text-decoration: none;
    border: 3px solid #59331d;
  }
  .button:hover {
    background-color: #f2f2f2;
    color: #59331d;
  }
  footer {
   background-color: #082B59;
    text-align: center;
    border-top: 10px solid #d98555;
  }
  footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  footer a {
    color: #f2f2f2;
    font-size: 2rem;
    display: block;
    margin: 0 1rem 3rem 1rem;
  }
  .tm{
    color: #f2f2f2;
  font-size:1.2rem;
}
.disclaimer{
    font-size:1rem;
    color:#f2f2f2;
}
  
  @media (min-width: 635px) {
  
    nav {
      margin-left: 0;
    }
   
    nav ul {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    }
   
    nav a {
      margin: 0 0 0 0;
    }
   
    .logo {
      flex-basis: 100%;
      text-align: center;
    }
    article {
    flex-basis: 48%;
  
   
  }
  
    .coffee img {
    max-width: 250px;
       margin: 4rem 1rem 0 1rem;
  }
  }
  
  
  
  
  
@media (min-width: 900px) {
   
    nav ul {
      justify-content: flex-start;
    }
    
    nav a {
      margin-top: 4.5rem;
    }
   
    .logo {
      flex-basis: auto;
      margin-right: auto;
    }
    article {
    flex-basis: 60%;
      margin:0,0,0,3rem;
  }
      .coffee img {
    max-width: 350px;
    margin: 4rem 1rem 0 0rem;
  }
  }
  